<%- include("../includes/header.ejs", {title:"Accounts"}); %>
<h1>Accounts</h1>
<ul>
    <li>Account Name: <%= result[0].first_name + ' ' + result[0].last_name %></li>
    <li>emails(s): <%= result[0].email %>
    <li>school(s): <%= result[0].school_name %>
    <li>skill(s): <%= result[0].skill_name %>
    <li>company(s):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].company_name %></li>
            <% } %>
        </ul>


</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>