<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
<h1>Add New Company</h1>
<form action="/resume/add" method="get">
    <br />
    <br />
    Account Users
    <br />
    <select id="account_id" name="account_id" >
        <% for(var i=0; account.length > i; i++ ) { %>
        <option value="<%= account[i].account_id %>"><%= account[i].first_name + ' ' + account[i].last_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->







    <br />
    <br />
    <input type="submit" />

</form>
<br />
<a href="/resume/all"><< back</a>
<%- include("../includes/footer.ejs"); %>