<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
<h1>Add New Adress</h1>
<form action="/address/insert" method="get">
    Street Name: <input id="street" name="street" type="text" />
    <br />
    <br />

    Zip Code: <input id="zip_code" name="zip_code" type="text"/>


    <br />
    <br />
    <input type="submit" />

</form>
<br />
<a href="/address/all"><< back</a>
<%- include("../includes/footer.ejs"); %>